{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">A propos </h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Accueil</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">A propos</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- About Section -->
    <section class="about">
        <div class="container">
            <div class="about-content">
                <div class="about-text">
                    <h2 class="about-title">Qui sommes-nous ?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat mauris a lorem
                        accumsan, nec tempus enim tristique. Mauris dignissim dictum massa, in feugiat tellus
                        fringilla eget. Fusce hendrerit sem ut justo gravida hendrerit. Nullam finibus nunc
                        eget facilisis lacinia. Vestibulum dapibus eros ut mauris aliquet, ut vestibulum ante
                        vulputate. Phasellus vitae massa sit amet enim aliquam dictum. Suspendisse tristique
                        elit nec mi tempor, at lacinia est tempus. Maecenas fermentum diam ut turpis tempor,
                        in semper lacus malesuada. Aliquam et enim sed mauris varius varius a eget erat. Sed
                        eu tellus et nunc pharetra pretium. Curabitur posuere magna ac cursus auctor. Etiam
                        elementum aliquet fringilla. Suspendisse potenti.</p>
                    <p>Nunc posuere metus at augue rhoncus rhoncus. Pellentesque habitant morbi tristique
                        senectus et netus et malesuada fames ac turpis egestas. Phasellus congue laoreet ipsum,
                        quis laoreet ex. Morbi pellentesque, neque vitae consequat rutrum, metus est auctor
                        eros, eu malesuada quam leo vel orci. Sed nec ipsum at elit scelerisque laoreet.
                        Praesent fringilla tellus id tortor volutpat, in lobortis ipsum volutpat. Sed id
                        tincidunt ipsum, a malesuada dolor. In ac tincidunt purus, eget gravida sem. Proin
                        maximus sem non fringilla gravida. Proin at facilisis enim, id condimentum ex. Ut
                        vulputate orci eu eleifend suscipit.</p>
                </div>
                <div class="about-image">
                    <img src="about-image.jpg" alt="About Image">
                </div>
            </div>
        </div>
    </section>
 
{% endblock %}
