{% extends 'Site/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 40px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Qui sommes nous ? </h3>
               
            </div>
        </div>
    </div>
    <!-- Header End -->
<div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                  <div class="col-lg-7">
                        <div class="text-left mb-4">
                            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Bienvenue chez AFMS</h5>
                             <h1>Agence de Formation aux Métiers de la Sécurité </h1>
                         </div>
                        
                            <p>Face à un environnement professionnel en perpétuelle évolution, l'Agence de Formation aux Métiers de la Sécurité (AFMS) voit le jour. Nous avons identifié plusieurs défis auxquels sont confrontés les professionnels de la sécurité .</p>
                            <p>Nos experts en formation ont collaboré étroitement avec les équipes pédagogiques et les conseillers en formation pour concevoir des programmes à la fois pertinents et adaptés. Nous avons échangé avec des dirigeants, des responsables RH, des recruteurs de divers secteurs pour cerner les besoins en main d’œuvre qualifiée.</p>
                            <p>Nous avons également écouté les aspirations des chercheurs d'emploi, des étudiants et des professionnels en transition, et affiné notre catalogue en conséquence.</p>
                            <p>L'AFMS s'engage à vous fournir des formations de qualité, adaptées aux réalités du terrain, pour vous préparer au mieux à votre avenir dans le domaine de la sécurité." </p>
                    
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2"> Voir nos Formations</a>
                    </div>
              
                <div class="col-lg-5">
                 <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/Placeholder.png" alt="">
                    
                </div>
            </div>
        </div>
    </div>




{{ include('Site/certif.html.twig') }}






{% endblock %}
