{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-height: 850px;">
                    <img class="position-relative w-100" src="../assets/img/afms//IMG_20230706_045547_768.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                             <h5 class="text-white text-uppercase mb-md-3">Le Centre de formation N°1 regroupant des Formateurs issus du terrain </h5>
                            <h1 class="display-3 text-white mb-md-4">Agence de Formation aux Métiers de la Sécurité</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 850px;">
                    <img class="position-relative w-100" src="../assets/img/afms/IMG_20230706_045546_408.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Le Centre N°1 regroupant des Formateurs issus du terrain </h5>
                            <h1 class="display-3 text-white mb-md-4">Agence de Formation aux Métiers de la Sécurité</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 850px;">
                    <img class="position-relative w-100" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                             <h5 class="text-white text-uppercase mb-md-3">Le Centre N°1 regroupant des Formateurs issus du terrain </h5>
                            <h1 class="display-3 text-white mb-md-4">Agence de Formation aux Métiers de la Sécurité</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="../assets/img/afms/GuardianFrance.JPG" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">A propos de nous</h5>
                        <h1>Innover pour réussir</h1>
                    </div>
                   <p><strong>AFMS</strong> (Agence de Formation aux Métiers de la Sécurité) est un organisme de formation spécialisé dans la sécurité privée. Nous offrons des formations de qualité adaptées aux besoins des agents de sécurité.</p>

<p>Nos formateurs expérimentés, issus du terrain, vous accompagnent dans votre parcours professionnel. Nous mettons à votre disposition un plateau technique réaliste pour une formation pratique et immersive.</p>

<p>Que vous souhaitiez débuter dans le domaine de la sécurité ou développer vos compétences existantes, AFMS propose une variété de formations, de l'initiation à la spécialisation. Nos programmes couvrent des domaines clés tels que la prévention/sécurité, la sécurité incendie, le secourisme ainsi que les habilitations électriques.</p>

<p>Nous sommes fiers de fournir des formations de qualité reconnues par les autorités compétentes.</p>

                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Voir nos formations</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


   <!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nos formations aux métiers de la sécurité</h5>
            <h1>Trouver votre formation dès maintenant</h1>
        </div>
    <div class="row">
           
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <center><h4 class="text-white font-weight-medium">Habilitations Electrique</h4></center>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Sécurité Incendie</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Sécurité Prévention</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" alt="">
                    <a class="cat-overlay text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium">Secourisme</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

  var categoryLinks = document.querySelectorAll('.cat-overlay');

 
  categoryLinks.forEach(function(link) {
   
    link.addEventListener('click', function(event) {
      event.preventDefault(); 
      var category = this.querySelector('h4').textContent;

      var courses = document.querySelectorAll('.rounded');

      courses.forEach(function(course) {
    
        var courseCategory = course.getAttribute('data-category');
        if (courseCategory === category) {
         
          if (course.style.display === 'none') {
            course.style.display = 'block';
          } else {
            course.style.display = 'none'; 
          }
        }
      });
    });
  });
</script>

 
    <!-- Courses Start -->
    <div class="container-fluid ">
        <div class="container">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nos formations disponible :</h5>
                
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                     <div class="rounded overflow-hidden mb-2" data-category="Sécurité Incendie">
                        <img class="img-fluid" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-fire-extinguisher text-primary mr-2" aria-hidden="true"></i>
Sécurité Incendie</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>67h</small>
                            </div>
                            <a class="h5" href="">Agent de Sécurité Incendie SSIAP 1</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                  <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>14 étudiants</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Courses End -->



  
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Notre centre de formation</h5>
                        <h1 class="text-white">30% Off For New Students</h1>
                    </div>
                    <p class="text-white">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                        ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                        dolor</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Rejoignez nous</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4" placeholder="Nom" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" placeholder="Email" required="required" />
                                </div>
                                <div class="form-group">
                                    <select class="custom-select border-0 px-4" style="height: 47px;">
                                        <option selected>Selectionner une formation</option>
                                        <option value="1">Course 1</option>
                                        <option value="2">Course 1</option>
                                        <option value="3">Course 1</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">S'inscire</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">AFMS à travers les yeux de nos étudiants</h5>
                <h1>Des mots qui parlent d'eux-mêmes</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">La formation est un vrai tremplin pour moi car j’avais besoin de retrouver un emploi rapidement et les formateurs sont très agréables.</h4>
                            <h5 class="m-0">Samir H.</h5>
                            <span>APS</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">J'ai vraiment été accompagné dans mon projet de recherche d'emploi et la formation SSIAP 1 s'est très bien déroulée et AFMS m'a beaucoup aidé pour que j'atteigne mes objectifs.</h4>
                            <h5 class="m-0">Moussa D.</h5>
                            <span>SSIAP 1</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Je ne connaissais pas vraiment ce secteur car c'est une reconversion professionnelle et la responsable m'a bien expliqué le métier avant que je me lance. Aujourd'hui, je suis employée en CDI dans une grande entreprise de sécurité.</h4>
                            <h5 class="m-0">Mida L.</h5>
                            <span>APS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Notre Blog</h5>
                <h1> Les Dernières Actualités</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/blog-1.jpg" alt="">
                        <a class="blog-overlay text-decoration-none" href="">
                            <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita at ut clita</h5>
                            <p class="text-primary m-0">Jan 01, 2050</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/blog-2.jpg" alt="">
                        <a class="blog-overlay text-decoration-none" href="">
                            <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita at ut clita</h5>
                            <p class="text-primary m-0">Jan 01, 2050</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/blog-3.jpg" alt="">
                        <a class="blog-overlay text-decoration-none" href="">
                            <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita at ut clita</h5>
                            <p class="text-primary m-0">Jan 01, 2050</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}
