{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Blog</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Accueil</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Blog</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="row pb-3">
                    <div class="col-lg-6 mb-4">
                        <div class="blog-item position-relative overflow-hidden rounded mb-2">
                            <img class="img-fluid" src="img/blog-1.jpg" alt="">
                            <a class="blog-overlay text-decoration-none" href="">
                                <h5 class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                                <p class="text-primary m-0">01 Janvier 2050</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="blog-item position-relative overflow-hidden rounded mb-2">
                            <img class="img-fluid" src="img/blog-2.jpg" alt="">
                            <a class="blog-overlay text-decoration-none" href="">
                                <h5 class="text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                                <p class="text-primary m-0">01 Janvier 2050</p>
                            </a>
                        </div>
                    </div>
                
                   
                </div>
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
               
                <!-- Formulaire de recherche -->
                <div class="mb-5">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Mot-clé">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-primary"><i
                                        class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Liste des catégories -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Catégories</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">SSIAP</a>
                          
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">SECOURISME</a>
                          
                        </li>
                    </ul>
                </div>

                <!-- Articles récents -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Articles récents</h3>
                    <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                        <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                        <div class="pl-3">
                            <h6 class="m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            <small>01 Janvier 2050</small>
                        </div>
                    </a>
                    <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                        <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                        <div class="pl-3">
                            <h6 class="m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            <small>01 Janvier 2050</small>
                        </div>
                    </a>
                    <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                        <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                        <div class="pl-3">
                            <h6 class="m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            <small>01 Janvier 2050</small>
                        </div>
                    </a>
                </div>

                <!-- Nuage de tags -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Nuage de tags</h3>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-outline-primary m-1">Design</a>
                        <a href="" class="btn btn-outline-primary m-1">Développement</a>
                        <a href="" class="btn btn-outline-primary m-1">Marketing</a>
                        <a href="" class="btn btn-outline-primary m-1">SEO</a>
                        <a href="" class="btn btn-outline-primary m-1">Rédaction</a>
                        <a href="" class="btn btn-outline-primary m-1">Consulting</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock %}
