
{% extends 'Admin/base.html.twig' %}

{% block title %}Administration AFMS{% endblock %}

{% block body %}

        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    
              
            </div>
          </div>
        </div>


{% endblock %}