<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Les agréments et certifications</h4>
            <h2>AFMS s'engagent</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                   <center> <img class="img-fluid" src="assets/img/logo-qualianor.jpg" alt="Logo Qualianor"></center>
                    <a class="text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium"></h4>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <center><img class="img-fluid" src="assets/img/logo-qualiapi.jpg" alt="Logo Qualiapi"></center>
                    <a class="text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium"></h4>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                   <center> <img class="img-fluid" src="assets/img/leurope-sengage.jpg" alt="Logo L'Europe s'engage"></center>
                    <a class="text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium"></h4>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                   <center> <img class="img-fluid" src="assets/img/logo-unafos.jpg" alt="Logo UNAFOS"></center>
                    <a class="text-white text-decoration-none" href="">
                        <h4 class="text-white font-weight-medium"></h4>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
